.container{
  display: flex;
  align-items: center;
  gap: 100px;
  width: 100%;
}

.item{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 50px;
}

.tittle{
  font-size: 65px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img{
  width: 50%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

@keyframes move{
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}

.desc{
  font-size: 24px;
  font-weight: 300;
}


@media screen and (max-width: 767px){
  .container{
    flex-direction: column;
    gap: 20px;
  }

  .item{
    gap: 15px;
  }

  .tittle{
    font-size: 50px;
  }

  .desc{
    font-size: 20px;
  }

  .img{
    width: 90%;
    height: 300px;
  }
}



@media screen and (min-width: 768px) and (max-width: 1023px){
  .container{
    flex-direction: column;
    gap: 10px;
  }

  .item{
    gap: 20px;
  }

  .img{
    width: 80%;
  }
}
