.container{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.image{
    object-fit: cover;
}

.content{

}

.tittle{
    margin-bottom: 10px;
}

.desc{
    font-size: 18px;
    color: #999;
}


@media screen and (max-width: 767px){
    .container{
        flex-direction: column-reverse;
    }

    .content{
        text-align: center;
    }


    .image{
        width: 100%;
    }

    .desc{
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    

    .image{
        width: 300px;
    }

    .desc{
        font-size: 15px;
    }
}